<h2 class=" d-flex justify-content-center">El inicio de todo un mundo por explorar.</h2>
<section class="container d-grid justify-content-center align-items-center">
    <img src="assets/img/bob.gif" alt="">
    <h2 class=" d-flex justify-content-center">IMAGINACION</h2>
</section>
<section class="my-5">

    <section class="col">
        <button class=" btn btn-light col-4" routerLink="/productos">PRODUCTOS</button>
        <button class="btn btn-danger col-4">Click</button>
        <button class="btn btn-warning col-4">Click</button>

    </section>
</section>