<footer class="container">
    <div class="row">
        <div class="col-4">
            <img src="assets/img/footerimg/logofoot.png" alt="Logopepe" class="logofoot">
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
            Texto de ref
        </div>
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item">luis Lopez</li>
                <li class="list-group-item">Bit pr6</li>
                <li class="list-group-item">cra 13 54 55</li>
                <li class="list-group-item">Bogota, Colombia</li>
            </ul>
        </div>
    </div>
</footer>