:root {
    --negroback-: rgb(0, 0, 0);
    --doradorico-: rgb(214, 179, 25);
}

.cardproducto {
    width: 340px;
    height: 580px;
    margin-top: 50px;
    background-color: aliceblue;
}

.btncolor {
    background-color: var(--doradorico-);
    color: var(--negroback-);
    display: flex;
    justify-content: center;
}